<IfModule mod_rewrite.c>

   RewriteEngine On
   RewriteRule ^(public) - [L]
   RewriteCond %{REQUEST_FILENAME} -f [OR]
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ routes.php [L,QSA]

</IfModule>